###### Python Basics, Magic functions, Iteration, scalar types, type casting, string concatenation, Date times, control flow, terenary expressions

In [19]:
"""
###### Synopsys

1.Magic Functions
    %load - loads python file into jupyter notebook
    %matplotlib inline integrates matplotlib into jupyter notebook

2.isinstace - checks the datatype.
3.Iteration: iteration is a process of looping over a data structure and picking each element from the data structure 
             one after the another.anyting that appear on the right side of for loop (for x in iterable:).
  
  Iterator: Object which is used to iterate over. Iter()
  Iterable: Something you can iterate over. Lists, dictionary, tuples, string are iterables.

4.Mutable - Able to modify the elements
            Lists, dict, numpy array
5.Immutable - Strings and tuples

6.Python Sclar types - int, float, byte, bool, string
                     - String is iterable
                     - rest of them are not iterables.

7.slicing
8.Difference between is and = : is checks if both variables point to same object
                                =  check if both the variables has the same values
9.String concatination
10.String formating
11.Unicode and UTF-8 - Unicode : Standard Character Set
                       UTF-8 :  it is a algorithm that translates data (numeric/character) into bytes
                       Encode : Idea to Byte
                       Decode : Byte to Idea

12.None  - None is a null type in python
           None can also be used as default argument for methods.

13.Type casting    - str, int, float are scalar types in python. apart from scalar types they are also used as function to typecast the variables.

14.Control Flow     - for loop - iterates over collection
                      if
                      while
                      continue - skips a block of code
                      break - terminates innermost for loop
15.pass  - no-op statement in python
           used in block where no action is required.
  
"""

'\n###### Synopsys\n\n1.Magic Functions\n    %load - loads python file into jupyter notebook\n    %matplotlib inline integrates matplotlib into jupyter notebook\n\n2.isinstace - checks the datatype.\n3.Iteration: iteration is a process of looping over a data structure and picking each element from the data structure \n             one after the another.anyting that appear on the right side of for loop (for x in iterable:).\n  \n  Iterator: Object which is used to iterate over. Iter()\n  Iterable: Something you can iterate over. Lists, dictionary, tuples, string are iterables.\n\n4.Mutable - Able to modify the elements\n            Lists, dict, numpy array\n5.Immutable - Strings and tuples\n\n6.Python Sclar types - int, float, byte, bool, string\n                     - String is iterable\n                     - rest of them are not iterables.\n\n7.slicing\n8.Difference between is and = : is checks if both variables point to same object\n                                =  check if both the variables has the same values\n9.String concatination\n10.String formating\n11.Unicode and UT\n  \n'

In [ ]:
# %load is magic function lets you load python files into jupyter notebook

In [4]:
# %load prac.py
print('I am running successfully')

I am running successfully

In [10]:
# it is used to integrate matplotlib with jupyter notebook
%matplotlib inline

In [12]:
# every number, String, data structure, function, class, module so on in python is a python object.

# In some languages assignment causes data to be copied.In python a , b now refer to the same object

a = [1,2,3,4]
b = a
a.append(5)
b

[1, 2, 3, 4, 5]

In [16]:
# isinstance checks the data type of the object 
isinstance(b, int)
isinstance(b, str)

False

In [17]:
isinstance(b, list)

True

######<tab> shows the methods according to the data type. Whether it may be string, int, list each has its own functions. 
#when you hit tab it shows available functions for that particular data type.

###### ITERATION, ITERABLE AND ITERATOR

###### Iteration is a general term for taking each item from something, one after another. Anytime you use a loop, explicit or implicit, to go over a group of items, that is iteration.-

iteration is a process of looping over data structure and picking each element from the data structure one after the another.anyting that appear on the right side of for loop (for x in iterable:).

Lists, dictionary, string, tuple are iterables.
int, float, bool are not iterables. 
tuple is iterable but not mutable.
###### iterable is something you can be iterated over. Ex: List
###### iterator is a object which is used to iterate over a iterable. Ex. iter()

when a loop is executed, statement calls iter(). Iter() defines __next__() method which will access the elements one by one. Iteration will be terminated after all the elements are accessed.


s = 'cat'          #s is a iterable
                   #s has string object
                   
t = iter(s)
                    t is iterator
                    t has next() method.

In [4]:
# returns true so string is iterable

def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False
isiterable('this is string')

True

In [52]:
#retuns false so  int is not iterable

a = 5
print(type(a))
isiterable(a)

<class 'int'>

False

In [53]:
# retuns true because list is iterable

b = [1,2,3,4]
print(type(b))
isiterable(b)

<class 'list'>

True

In [6]:
dic = {'a': 123}
print(type(dic))
isiterable(dic)

<class 'dict'>

True

In [8]:
tup = (1,2,3)
print(type(tup))
isiterable(tup)

<class 'tuple'>

True

In [ ]:
# dict function create dictionary
# (key = value, key=value)

dict(name = 'john', value = 123, country = 'USA')

###### module is a simply a file with .py externsion
it contains python code.If we want to access variables and code from that file we use import statement

In [37]:
a = [1,2,3]
b = a
c = list(a)
a is b

True

In [9]:
# list function always creates new python list. That means it is creating new python object.
# comparing with is and == is not same

a is c

NameError: name 'c' is not defined

###### Difference between is and ==

In [54]:
# is checks if both variables point to the same object
# == checks if both the values of the two variables are same.

a == c

False

###### lists, dicts, numpy arrays are mutable
###### strings and tuples are immutable

In [56]:
# object values can be modified in list, dictionaries and numpy arrays

a_list = ['foo', '2', [4,6]]
a_list[2] = [4,5]
a_list

['foo', '2', [4, 5]]

In [2]:
a_tuple = (3,5,(4,5))
a_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [6]:
# if you want to change the elements in the tuple convert into list and change

ex = list(a_tuple)
ex[0] = 'The new value'
ex

['The new value', 5, (4, 5)]

######  Python scalar types
these are single value types are also called as sclars.
None,
Str - String type - UTF-8,
bytes,
float,
bool,
int.

In [50]:
# primary python types for numbers are int and float
# python strings are immutable.
# many python objects can be converted into strings using str function

a = 5.6
s = str(a)
type(s)

str

In [8]:
"""
strings are sequence of unicode charaters and therefore can be treated like other sequences
such as lists and tuples.
"""

s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [9]:
# when you try to do the same thing with the int

a = 123456
list(a)

#only string is itrable not int

TypeError: 'int' object is not iterable

In [11]:
#this is called slicing. slicing will be implemented for many kinds of python seqeunces

s[:3]

'pyt'

In [12]:
# to reverse a string

s[::-1]

'nohtyp'

###### string concatenation

In [63]:
one = 'python is a '
two = 'programming language'
one+two

'python is a programming language'

###### string formatting

In [70]:
template = '{0:.2f} {1:s} are worth USD {2:d}'

# {0:.2f} means format first argument(parameter) as floating point number
#{1:s} means format second argument as string
# {2:d} means to format the third argument as exeact integer

# pass sequence of arguments to format method:

print(template.format(70, 'rupees', 1))
print(template.format(100, 'diarham', 2))

70.00 rupees are worth USD 1
100.00 diarham are worth USD 2

###### Byte and unicode

In [17]:
val = 'español'
val

str

In [77]:
# converting Unicode to its UTF-8  bytes representation using encode method
val_utf8 = val.encode('utf-8')
print(val_utf8)
print(type(val_utf8))

b'espa\xc3\xb1ol'
<class 'bytes'>

In [81]:
# converting UTF-8 bytes back to unicode
val = val_utf8.decode('utf-8')
print(val)
type(val)

español

str

###### unicode is a standard.
Encoding is taking an idea and converting it into bytes. Decoding is different,
taking the bytes and converting back to idea.

###### UTF-8 is an encoding - Unicode is a character set

A character set is a list of characters with unique numbers (these numbers are sometimes referred to as "code points"). For example, in the Unicode character set, the number for A is 41.

An encoding on the other hand, is an algorithm that translates a list of numbers to binary so it can be stored on disk. For example UTF-8 would translate the number sequence 1, 2, 3, 4 like this:

00000001 00000010 00000011 0000010

###### Type Casting

In [85]:
# str, bool, int and float types are also functions that can be used to cast values to those types.

s = '3.14'
print(type(s))

# using float function to convert from string to float
fval = float(s)
print(type(fval))

s = 12
print(type(s))
s_str = str(s)
print(type(s_str))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>

###### None
None is the Python null type value. If a function does not explicitly return a value, it implicitly returns None.

None can also be used as default value for function arguments.

In [87]:
a = None

In [88]:
a is None

True

In [2]:
b = 4
b is not None

True

In [3]:
b is None

False

###### dates and Times

In [95]:
# builtin python datetime module provides datetime, date and time types. 
# datetime type combines infomration stored in date and time

from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)
print(dt.date())

29
30
2011-10-29

In [97]:
# you can extract the date and time by calling date and time methods

print(dt.date())
print(dt.time())

2011-10-29
20:30:21

In [100]:
# strftime method formats datetime as string
# y for two dight year; Y for 4 digit year

print(dt.strftime('%m/%d/%y'))
print(dt.strftime('%Y-%M-%D %HH:%MM:%SS'))

10/29/11
2011-30-10/29/11 20H:30M:21S

In [103]:
# when you are aggregating data, it is useful to replace time fields with a series of date times

dt.replace(hour=0,minute=0, second=0)

datetime.datetime(2011, 10, 29, 0, 0)

In [105]:
# difference fo two date and times produces delta types

dt2 = datetime(2017, 10, 30, 10, 10, 20)
delta = dt2-dt
delta

datetime.timedelta(days=2192, seconds=49199)

###### Control Flow

In [109]:
x = 30
if x>0:
    print('This is possible')

This is possible

In [110]:
if x<0:
    print('x is less than 0')
elif x == 20:
    print('x is equal to 20')
elif x == 10:
    print('x equals to 10')
else:
    print('nothing works')

nothing works

In [ ]:
# for loops are for iterating over a collection (like list of tuple) or an iterator.

for value in collection:
    # do something

In [114]:
# you can advance for loop to the next iteration, skipping the remainder of the block using continue
sequence = [1,2,3,None,4,5,None]
total = 0

for x in sequence:
    if x is None:
        continue
    total +=x

total

15

In [122]:
# A break keyword only terminates the innermosst for loop. outer loops will be continue to run

sequence = [1,5,6,7,8,9]
total_until_5 =0

for x in sequence:
    if x == 5:
        break
    total_until_5+=x

total_until_5

1

In [124]:
for x in sequence:
    for j in range(2):
        if j > x:
            break
        print((x,j))

(1, 0)
(1, 1)
(5, 0)
(5, 1)
(6, 0)
(6, 1)
(7, 0)
(7, 1)
(8, 0)
(8, 1)
(9, 0)
(9, 1)

In [125]:
# while loop specifies condition and block of code that is to be executed until the condition evaluate flase or loop is explicitly ended with break.

# Pass is no-op statement in python.
# it can be used in block where no action is to be taken. 
# it is only required because python uses whitespace to delimit blocks

if x < 0:
    print('negative')
elif x == 0:
    pass
else:
    print('positive')

positive

In [127]:
# range function returns an iterator that yields a sequence of evenly spaced integers

range(10)

range(0, 10)

In [130]:
list(range(10))

list(range(0,20,2)) # start end step

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [132]:
seq = [1,2,3,4]
for x in range(len(seq)):
    print(x)

0
1
2
3

###### Terenary Expression allows you to combine an if-else block that produces a value into single line or expression.

In [133]:
x = 5
'Non negative' if x >= 0 else 'negative'

'Non negative'